body {
  /*background-image: repeating-linear-gradient(
      red,
      orange,
      yellow,
      green,
      blue,
      cyan,
      rgb(225, 2, 225)
    );
  */
  background-image: url("img/whbc.jpg");
  background-size: 100%;
  color: orange;
  background-attachment: fixed;
  background-repeat: space;
}
div.titlebar {
  color: orange;
  font-family: sans-serif;
  font-size: 30px;
}
a:link {
  color: orange;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50px;
}
a:visited {
  color:orange;
  text-decoration: solid;
  padding: 5px 10px;
  border-radius: 50px;
}
a:hover {
  color:orange;
  background-color: rgba(255, 252, 252, 0.138);
  text-decoration: overline;
  display: inline-block;
  border-radius: 50px;
  transition-duration: 1s;
}
a:active {
  color: orange;
  text-decoration: underline;
  display: inline-block;
  border-radius: 50px;
}
